<style>
.display-3{
        font-family: 'Major Mono Display', monospace;
      }
</style>
<div class="jumbotron">
  <h1 class="display-3">ASMS</h1>
  <p class="lead">This is a simple. SMS sending platform </p>
  <hr class="my-4">
  <p>This platform allow you to send free SMS to anywhere in the world.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/registration" role="button">Get Started</a>
  </p>
</div>
