<h3>Hello <%= name %> Click Here to send<a href="/users/message"> SMS</a> or Click Here to send <a href="/users/email">Email</a></h3>
<style>
.text-center{
    padding:50px;
}
</style>
<div class="text-center">
    <h1>Total No of SMS Send</h1>
    <h3><%= sendMessge %></h3>
    <h1>Total No of Email Send</h1>
    <h3><%= sendEmail %></h3>
</div>